#navStyle {
    margin: 1rem;
    background-color: #222942;
    border-radius: 20px;
    color: white;
    width: 90px;
    text-align: center;
}

#navStyle:hover {
    background-color: transparent;
    color: black;

}

#navStyle::after {
    background-color: transparent;
}

@media screen and (max-width: 992px){
    #navStyle {
        text-align: center;
        width: 100%;
    }
}

form { max-width:420px; margin:50px auto;
}

@media screen and (max-width: 450px) {
    form { 
        max-width:390px !important;
        margin-inline: 10px !important;

    }
}

main > .about {
    gap: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}

main > .col-md-11 {
    margin-left: 63px;
    margin-bottom: 10px;
}

main > .col-md-11 > div {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 770px) {
    main > .about {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        width: 95% ;
        margin-left: 10px;
        padding: 5px;
        gap: 10px;
    }

    main > .col-md-11 {
        margin-left: 5px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 718px) {
    main > .col-md-11 > div {
        display: flex;
        flex-direction: column;
}
}

@media screen and (max-width: 1230px) {
    main > .col-md-11 {
        margin-left: 5px;
        margin-bottom: 10px;
    }

}

table, tr  th, td {
    border:1px solid white;
    width: 300px;
    text-align: center;
}
.down{
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 365px;
    background-color: #d9d9d9;
    padding: 10px;
    color: black;
}

.checkout button {
    width: max-content;
    margin-inline: auto;
    border: none;
    transition: 0.4s;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: #222942;
}
